.btn-info
{
	margin-left:59%;
	margin-top:15px;
}
.register-form
{
	margin-top: 5px;
}
.trait
{
	margin-top: 30px;
	height: 5px;
	background-color: #66CCCC;
}
.navbar-brand {
	width: 50%;
	height: 50%;
	padding-top: 0px;
}

.login {
	background-color: rgba(106, 194, 255, 0.4);
	border-radius: 5px;
	border: solid #1fa597 2px;
	color: #35383a;
}
.log-title {
	color: #1fa597;
	text-align: center;
}
.champ-log {
	margin: 3px;
}

.c_group {
	background-color:rgba(106, 194, 255, 0.8);


}





